:root[data-theme="catppuccin"] {
  --radius: 0.5rem;
  --background: oklch(0.959 0.006 264.533);
  --foreground: oklch(0.431 0.043 279.511);
  --muted: oklch(0.92 0.006 264.531);
  --muted-foreground: oklch(0.406 0.022 264.291);
  --popover: oklch(0.934 0.009 264.519);
  --popover-foreground: oklch(0.345 0.032 279.621);
  --card: oklch(0.942 0.008 264.524);
  --card-foreground: oklch(0.389 0.037 279.559);
  --border: oklch(0.92 0.006 264.529);
  --input: oklch(0.895 0.008 264.52);
  --primary: oklch(0.554 0.25 296.956);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.771 0.057 304.762);
  --secondary-foreground: oklch(0.245 0.044 303.216);
  --accent: oklch(0.832 0.023 264.439);
  --accent-foreground: oklch(0.305 0.03 263.965);
  --destructive: oklch(0.484 0.188 29.368);
  --destructive-foreground: oklch(0.969 0.014 21.071);
  --ring: oklch(0.554 0.25 296.956);
  --chart-1: oklch(0.554 0.25 296.956);
  --chart-2: oklch(0.771 0.057 304.762);
  --chart-3: oklch(0.832 0.023 264.439);
  --chart-4: oklch(0.799 0.049 304.917);
  --chart-5: oklch(0.553 0.256 296.488);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark[data-theme="catppuccin"] {
  --radius: 0.5rem;
  --background: oklch(0.244 0.03 283.913);
  --foreground: oklch(0.878 0.043 272.094);
  --muted: oklch(0.293 0.021 285.027);
  --muted-foreground: oklch(0.733 0.027 285.71);
  --popover: oklch(0.216 0.025 284.103);
  --popover-foreground: oklch(0.98 0.007 272.584);
  --card: oklch(0.225 0.027 284.034);
  --card-foreground: oklch(0.929 0.024 272.369);
  --border: oklch(0.303 0.02 285.14);
  --input: oklch(0.331 0.023 285.098);
  --primary: oklch(0.787 0.119 304.446);
  --primary-foreground: oklch(0.277 0.139 295.596);
  --secondary: oklch(0.334 0.068 303.657);
  --secondary-foreground: oklch(0.864 0.033 305.939);
  --accent: oklch(0.372 0.055 283.423);
  --accent-foreground: oklch(0.91 0.014 286.109);
  --destructive: oklch(0.649 0.226 31.646);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.787 0.119 304.446);
  --chart-1: oklch(0.787 0.119 304.446);
  --chart-2: oklch(0.334 0.068 303.657);
  --chart-3: oklch(0.372 0.055 283.423);
  --chart-4: oklch(0.359 0.075 303.591);
  --chart-5: oklch(0.784 0.123 304.365);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
}
