:root[data-theme="github"] {
  --radius: 0.5rem;
  --background: oklch(1 0 180);
  --foreground: oklch(0.277 0.011 248.24);
  --muted: oklch(0.919 0.007 17.278);
  --muted-foreground: oklch(0.404 0.025 18.259);
  --popover: oklch(0.977 0 180);
  --popover-foreground: oklch(0.169 0.005 248.117);
  --card: oklch(0.985 0 180);
  --card-foreground: oklch(0.225 0.008 248.197);
  --border: oklch(0.962 0 180);
  --input: oklch(0.939 0 180);
  --primary: oklch(0.327 0.016 248.303);
  --primary-foreground: oklch(0.85 0.011 247.958);
  --secondary: oklch(0.804 0.003 247.866);
  --secondary-foreground: oklch(0.269 0.003 247.927);
  --accent: oklch(0.885 0 180);
  --accent-foreground: oklch(0.371 0 168.69);
  --destructive: oklch(0.51 0.189 31.784);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.327 0.016 248.303);
  --chart-1: oklch(0.327 0.016 248.303);
  --chart-2: oklch(0.804 0.003 247.866);
  --chart-3: oklch(0.885 0 180);
  --chart-4: oklch(0.829 0.003 247.859);
  --chart-5: oklch(0.327 0.019 248.414);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark[data-theme="github"] {
  --radius: 0.5rem;
  --background: oklch(0.176 0.014 258.357);
  --foreground: oklch(0.857 0.014 247.988);
  --muted: oklch(0.264 0.012 258.372);
  --muted-foreground: oklch(0.715 0.021 258.365);
  --popover: oklch(0.142 0.009 256.104);
  --popover-foreground: oklch(0.937 0.006 247.889);
  --card: oklch(0.153 0.01 258.219);
  --card-foreground: oklch(0.897 0.01 247.936);
  --border: oklch(0.231 0.014 258.369);
  --input: oklch(0.262 0.017 258.367);
  --primary: oklch(0.857 0.014 247.988);
  --primary-foreground: oklch(0.336 0.021 248.458);
  --secondary: oklch(0.368 0.01 248.093);
  --secondary-foreground: oklch(0.883 0.005 247.877);
  --accent: oklch(0.326 0.038 258.319);
  --accent-foreground: oklch(0.85 0.024 258.364);
  --destructive: oklch(0.624 0.221 27.17);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.857 0.014 247.988);
  --chart-1: oklch(0.857 0.014 247.988);
  --chart-2: oklch(0.368 0.01 248.093);
  --chart-3: oklch(0.326 0.038 258.319);
  --chart-4: oklch(0.397 0.011 248.098);
  --chart-5: oklch(0.857 0.016 248.017);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
}
